<nav>
    <a href="#"> Human Resource Management System </a>

    <div>
        <ul>
            <li>
                <a href="/employee/list">Home</a>
            </li>

            <li>
                <div>
                    <a href="/employee/list">Employee List</a><br/>
                    <a href="/employee/add">Add an Employee</a>
                </div>
            </li>

            <li>
                <div>
                    <a href="/contract/list">Contract List</a><br/>
                    <a href="/contract/add">Add a Contract</a>
                </div>
            </li>

            <li>
                <div>
                    <a href="/job/list">Job List</a><br/>
                    <a href="/job/add">Add a Job</a>
                </div>
            </li>

            <li>
                <div>
                    <a href="/department/list">Department List</a><br/>
                    <a href="/department/add">Add a Department</a>
                </div>
            </li>

            <li>
                <div>
                    <a href="/recruitment/list">Resume List</a><br/>
                    <a href="/recruitment/add">Add a Resume</a>
                </div>
            </li>
        </ul>
    </div>
</nav>