<nav>
    <a href="#"> Human Resource Management System </a>

    <div>
        <ul>
            <li><a href="/employee/list">Home</a></li>

            <li>
                <a href="/employee/list">Employee List</a> <span>#</span>
                <a href="/employee/add">Add an Employee</a>
            </li>

            <li>
                <a href="/contract/list">Contract List</a> <span>#</span>
                <a href="/contract/add">Add a Contract</a>
            </li>

            <li>
                <a href="/job/list">Job List</a> <span>#</span>
                <a href="/job/add">Add a Job</a>
            </li>

            <li>
                <a href="/department/list">Department List</a> <span>#</span>
                <a href="/department/add">Add a Department</a>
            </li>

            <li>
                <a href="/recruitment/list">Resume List</a> <span>#</span>
                <a href="/recruitment/add">Add a Resume</a>
            </li>

            <li>
                <a href="/expense/list">Expense List</a> <span>#</span>
                <a href="/expense/add">Add a Expense</a>
            </li>

        </ul>
    </div>
</nav>