<!-- <!DOCTYPE html> CAN'T USE EXTERNAL CSS -->
<html>

<head>
    <title> HRMS </title>
    <!-- LOCAL -->
    <!-- {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->

    <!-- CDN -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
</head>

<body>
    {% include 'header.html' %}
    {% block head_block %} {% endblock %}
    {% block body_block %} {% endblock %}
    {% include 'footer.html' %}
</body>

</html>