<nav>
    <a href="#"> Human Resource Management System </a>

    <div>
        <ul>
            <li>
                <a href="/employee/list">Home</a>
            </li>

            <li>
                <div>
                    <a href="/employee/list">Employee List</a><br/>
                    <a href="/employee/add">Add Employee</a>
                </div>
            </li>

            <li>
                <div>
                    <a href="/contract/list">Contract List</a><br/>
                    <a href="/contract/add">Add Contract</a>
                </div>
            </li>
        </ul>
    </div>
</nav>